@import "_variables.scss";

@media only screen and (min-width: 320px){

    body{
        font-size: 16px;
    }

    p.section-description{
        line-height: 1.25 ;
    }

    .navbar-brand{
        width: 75%;
        embed{
            width: 100%;
        }
    }
    .navbar-toggler{
        color: $primary-light;
        border: 2px solid $primary-light;
        width: 30px;
        height: 30px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        outline: none;
    }

    section.section{
        padding: 50px 20px;
        text-align: center;

        h1.section-title{
            font-size: 1.75rem;
        }

        .section-image{
            padding: 25px;
            img{
                width: 100%;
            }
        }
    }

    .news-list{
        .news{
            margin: 0 25px;

            h2.news-title{
                font-size: 1.5rem; 
                margin-bottom: 25px;
            }

            h3.news-author{
                font-size: 1rem;
            }

            div.news-description-container{
                padding: 25px;
            }
        }
    }

    .testimonies{
        .testimony{
            .img-container{
                margin: 0 auto;
            }
        }
    }

    ul.navbar-nav{
        background: $secondary-color;
        z-index: 9;
        border-radius: 0 0 10px 10px;
        position: absolute;
        align-items: flex-start;
    }

}

@media only screen and (min-width: 768px){
    .navbar-brand{
        width: auto;
    }

    ul.navbar-nav{
        flex-direction: row;
        justify-content: center;
        border-radius: 100px;
    }
    
    section.section{
        text-align: left;
    }

    .news-list{
        .news{
            margin: 0;
        }
    }

    .testimonies{
        .testimony{
            .img-container{
                margin: 0;
            }
        }
    }

    footer{
        .logo{
            width: 90%;
            embed{
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait){
    section.section{
        &.full-height{
            min-height: unset !important;
        }
    }
}

@media only screen and (min-width: 992px){
    ul.navbar-nav{
        background: none;
        border-radius: 0;
        position: relative;
        align-items: flex-end;
    }
}