@import "_variables.scss";

body{
    font: 20px $content-font;
    overflow-x: hidden;
}

h1.section-title{   
    font-size: 2.5rem;
    font-family: $heading-font;
    font-weight: 700;
    margin-bottom: 50px;
}

p.section-description{
    margin-bottom: 50px;
    line-height: 1.75;
}

a.btn-link{
    width: fit-content;
    border-radius: 55px;
    border: 0;
    padding: 10px 25px;
    font-family: $content-font;
    font-weight: bold;
    text-align: center;
    background-color: $secondary-color;
    color: $white;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover{
        background-color: $secondary-color;
        color: $white;
        text-decoration: none;
        filter: brightness(75%);
    }
}

.nav-container{
    // position: fixed;
}

nav.navbar{
    padding: 100px 0 50px;
    position: absolute;
    width: 100%;
    top: 0;
}

.navbar-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-item{
        padding: 0 10px;

        a.nav-link{
            color: $primary-light;
            font-family: $content-font;
            text-decoration: none;
            font-size: 15px;
        }
    
        a.btn-outline{
            border: 1px solid $primary-light;
            padding: 10px 15px;
            border-radius: 50px;
        }
    }
}

section.banner{
    padding: 250px 0 100px;
    background-image: url(../../images/hdr-1.png);
    background-size: cover;
    color: $white;

    .btn-link{
        background-color: $white;
        color: $primary-color;
    }
}

section.section{
    padding: 100px 0;
    display: flex;
    align-items: center;

    &.full-height{
        min-height: 100vh;
    }

    .container{
        height: 100%;
        align-items: center;
    }

    &.sec1{
        background-image: url(../../images/bg-sect-01.png);
    }

    &.sec3{
        background-image: url(../../images//bg-sect-03.png);
    }

    &.latest-news{
        background-color: #d1d1e0;
    }

    .button-row{
        width: 100%;
        padding: 50px 0;
        display: flex;
        justify-content: center;
    }
}

.course-list{
    display: flex;
    margin-bottom: 100px;   
}

.course{
    border: 0;
    border-radius: 10px;
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.1);
    height: 100%;

    .course-image-container{
        padding: 30px 40px;
        
        .wrap{
            background-color: #fce1e8;
            border-radius: 100%;
            width: 100%;
            height: 0;
            overflow: hidden;
            padding-bottom: 100%;

            img{
                width: 150%;
                height: auto;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .course-name{
        font-size: 1.25rem;
        font-family: $heading-font;
        font-weight: 700;
        padding: 0 30px;
        margin-bottom: 25px;
        min-height: 4.5rem;
    }

    .course-facilitator{
        color: $gray;
        font-size: 1rem;
        padding: 0 30px;
    }

    .course-price{
        border-top: 1px solid $light-gray;

        .price{
            color: $primary-color;
            font-family: $heading-font;
            font-size: 1.25rem;
            font-weight: 700;
            padding: 15px 30px;
        }
    }
}

.news-list{
    .news{
        border: 0;
        border-radius: 10px;
        box-shadow: 0 12px 23px rgba(0, 0, 0, 0.1);
        overflow: hidden;

        .news-image-container{
            max-height: 300px;

            img{
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .news-title{
            font-family: $heading-font;
            font-size: 2rem;
            font-weight: 700;
        }

        .news-author{
            font-size: 1.25rem;
            font-weight: 700;
            margin-bottom: 25px;
        }

        .news-description-container{
            padding: 40px;
        }

        .news-excerpt{
            font-size: 1rem;
            color: $gray;
        }

        .read-news{
            a{
                color: $primary-color;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }
}

.testimonies{
    .testimony-slide{
        &.owl-carousel .owl-item img{
            height: 100%;
        }

        .owl-stage-outer{
            height: 100%;
        }

        .owl-dots{
            text-align: center;
            padding: 15px 0;

            .owl-dot{
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background-color: $light-gray;
                margin: 0 10px;
            }

            .active{
                background-color: $primary-color;
            }
        }
    }

    .testimony{

        background-color: $white;
        box-shadow: 0 12px 23px rgba(0, 0, 0, 0.1);
        padding: 30px;
        border-radius: 10px;

        .img-container{
            width: 75px;
            height: 75px;
            border-radius: 100%;
            overflow: hidden;
            margin-bottom: 25px;
        }

        .testimony-details{

            h6{
                color: $secondary-color;
                font-family: $heading-font;
                font-weight: bold;
                font-size: 20px;
            }

            .org{
                color: $secondary-color;
                font-size: 15px;
                font-family: $content-font;
            }

            .quote{
                color: $secondary-color;
                font-family: $content-font;
                font-weight: bold; 
                font-size: 20px;
                line-height: 1.5;
            }
        }
    }
}

.cta-row{
    background-image: url(../../images/hdr-1.png);
    color: $white;

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-title{
        font-family: $content-font;
    }

    .btn-link{
        background-color: $primary-color;
    }
}

footer{
    // height: 500px;
    padding: 100px 0;
    background-color: $secondary-color;
    border-bottom: 10px solid $primary-color;
    color: $white;



    .col{
        align-items: flex-start !important;
        justify-content: flex-start !important;

        .logo{
            embed{
                width: 90%;
            }
        }

        h1.list-heading{
            font-family: $content-font;
            font-size: 1.5rem;
            font-weight: 700;
            color: $primary-color;
        }

        p{
            font-family: $content-font;
            font-size: 1rem;
            display: flex;

            i{
                color: $primary-color;
                margin-right: 10px;
                font-size: 20px;
                line-height: inherit;
            }
        }

        .sns{
            a{
                color: $white;
                font-size: 40px;
                margin-right: 20px;
            }
        }
    }
}