@import "_variables.scss";
@import "_responsive.scss";


body{
    font: 20px $content-font;
    position: relative;
    overflow-x: hidden;
}

.section-title{
    h1{
        font-family: $heading-font;
        font-weight: bold;
        margin-bottom: 50px;
        font-size: 40px;
    }
}

.content-text{
    font-family: $content-font;
    margin-bottom: 25px;
    line-height: 1.75;
    font-size: 20px;
}

.section-image img{
    width: 100%;
}

nav.navbar{
    position: relative;
    top: 0;
    padding-bottom: 100px;
    width: 100%;

    .navbar-nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .nav-item{
        padding: 0 10px;

        a.nav-link{
            color: $primary-light;
            font-family: $content-font;
            text-decoration: none;
            font-size: 15px;
        }
    
        a.btn-outline{
            border: 1px solid $primary-light;
            padding: 10px 15px;
            border-radius: 50px;
        }
    }

    .navbar-toggler{
        outline: none;
        border: 1px solid $primary-light;
        width: 50px;
        height: 50px;
        padding: 0;
        text-align: center;

        i{
            color: $primary-light;
            vertical-align: middle;
        }
    }
}

.section{
    &.header{
        width: 100%;
        // height: 714px;
        padding: 100px 0;
        background-size: cover;
        display: flex;
        align-items: center;
        flex-direction: column;

        .container{
            justify-content: flex-start;
        }
            
        .header-content{
            color: $white;
            width: 100%;
            height: 100%;

            .section-title{
                margin-bottom: 25px;
            }

            button{
                color: $primary-color;
            }
            
        }
    }
}

.landing{
    .section.header{
        background-image: url(../images/hdr-1.png);
    }
}

.list-of-courses{
    .section.header{
        background-image: url(../images/bg-sect-01.png);

        .section-title{
            color: $primary-color;
            font-weight: 700;
        }
    }

    .course{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: $white;
        margin-bottom: 30px;
        
        &.mint{
            border-bottom: 10px solid #98e69a;
            .img-container{
                background-color: #98e69a !important;
            }
        }

        &.orange{
            border-bottom: 10px solid #ffb174;
            .img-container{
                background-color: #ffb174 !important;
            }
        }

        &.blue{
            border-bottom: 10px solid #91c8ff;
            .img-container{
                background-color: #91c8ff !important;
            }
        }

        &.purple{
            border-bottom: 10px solid #e4b1ff;
            .img-container{
                background-color: #e4b1ff !important;
            }
        }

        &.yellow{
            border-bottom: 10px solid #ffbb00;
            .img-container{
                background-color: #ffbb00 !important;
            }
        }

        &.pink{
            border-bottom: 10px solid #ff8fac;
            .img-container{
                background-color: #ff8fac !important;
            }
        }
        

        .course-details{
            padding: 40px 40px 30px 40px;
            text-align: center;
            border: none !important;

            .img-container{
                margin: 40px auto!important;
                width: 50% !important;
                height: unset !important;
                overflow: hidden;

                &:after{
                    content: "";
                    display: block;
                    padding-bottom: 10%;
                }

            }
        }
        .course-name{
            width: 75%;
            margin: 0 auto;
            text-align: center;
        }
        .course-description{
            text-align: center;
        }
    }
}

.section{

    button{
        height: 55px;
        width: fit-content;
        border-radius: 55px;
        border: 0;
        padding: 0 25px;
        font-family: $content-font;
        font-weight: bold;
        text-align: center;
    }

    .col{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & > h1{
            margin-bottom: 100px;
        }

        img{
            // width: 80%;
        }
    }

    .container{
        // display: flex;  
        align-items: center;
        justify-content: center;
    }

    .section-content{
        text-align: center;
    }

    .ellipses{
        position: absolute;
        width: 100%;
        height: 100%;

        display: none;
    }

    

    &.sec1{
        background-image: url(../images/bg-sect-01.png);
        background-size: cover;
        min-height: 100vh;
        // padding: 100px 0;

        color: $secondary-color;

        button{
            background-color: $secondary-color;
            color: $white;
        }

        .ellipse{
            position: absolute;
            box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
            border-radius: 100%;

            &.e1{
                background-color: $white;
                width: 527px;
                height: 527px;
                left: 0;
                transform: translate(-50%, 88px);
            }
            &.e2{
                background-color: $primary-color;
                width: 100px;
                height: 100px;
                left: 0;
                transform: translate(130px, 100px);
            }
            &.e3{
                background-color: $white;
                width: 74px;
                height: 74px;
                left: 50%;
                transform: translateY(280px);
            }
            &.e4{
                background-color: $white;
                width: 527px;
                height: 527px;
                right: 0;
                transform: translate(50%, 88px);
            }
            &.e5{
                background-color: $white;
                width: 142px;
                height: 142px;
                transform: translate(240px, 700px);
            }
            &.e6{
                background-color: $secondary-color;
                width: 248px;
                height: 248px;
                right: 100px;
                transform: translateY(660px);
            }
            &.e7{
                background-color: $secondary-color;
                width: 248px;
                height: 248px;
                // left: 0;
                transform: translate(-50%, 860px);
            }
        }

    }

    &.sec2{
        min-height: 100vh;
        // padding: 100px 0;
        color: $secondary-color;

        button{
            background-color: $secondary-color;
            color: $white;
        }

        .ellipse{
            position: absolute;
            box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
            border-radius: 100%;
            background-color: $white;

            &.e1{
                width: 154px;
                height: 154px;
                transform: translate(130px, 100px);
            }
            &.e2{
                width: 74px;
                height: 74px;
                transform: translate(329px, 280px);
            }
            &.e3{
                width: 245px;
                height: 245px;
                right: 0;
                transform: translate(50%, 280px);
            }
            &.e4{
                width: 508px;
                height: 508px;
                left: 0;
                transform: translate(-50%, 340px);
            }
            &.e5{
                width: 442px;
                height: 442px;
                right: 0;
                transform: translate(240px, 840px);
            }
        }
    }

    &.sec3{
        background-image: url(../images/bg-sect-03.png);
        background-size: cover;
        min-height: 100vh;
        // padding: 100px 0;

        color: $secondary-color;

        button{
            background-color: $secondary-color;
            color: $white;
        }

        .ellipse{
            position: absolute;
            box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
            border-radius: 100%;
            background-color: $white;

            &.e1{
                width: 369px;
                height: 369px;
                left: 0;
                transform: translate(-50%, 340px);
            }
            &.e2{
                width: 74px;
                height: 74px;
                left: 50%;
                transform: translateY(280px);
            }
            &.e3{
                width: 100px;
                height: 100px;
                right: 100px;
                background-color: $primary-color;
                transform: translateY(300px);
            }
            &.e4{
                width: 527px;
                height: 527px;
                right: 0;
                transform: translate(50%, 840px);
            }
        }
    }

    &.sec4{
        // height: 1000px; 
        padding: 100px 0;
        color: $secondary-color;

        .section-title{
            text-align: center;
        }

        & > .col{
            padding: 0 70px;
        }

        .col{
            flex-direction: column;
            justify-content: center;

            & > h1{
                color: $primary-color;
                text-align: center;
            }

            button{
                background-color: $primary-color;
                color: $white;
                text-align: center;
                margin-top: 100px;
            }

            

            .course-price{

                background-color: $white;
                border-radius: 0 0 10px 10px;
                width: 100%;
                height: 60px;
                padding: 15px 30px;
                position: relative;
                bottom: 0;
                text-align: left;

                .price{
                    font-size: 20px;
                    color: $primary-color;
                    font-family: $heading-font;
                    font-weight: bold;
                }
            }
        }
    }

    .course{
        box-shadow: 0 12px 23px rgba(0, 0, 0, 0.1);
        // width: 260px;
        // height: 440px;
        position: relative;
        height: 100%;
        width: 100%;

        .course-details{

            padding: 30px;
            border-bottom: 1px solid $light-gray;
            position: relative;
            height: calc(100% - 60px);
            text-align: left;

            .img-container{
                width: 182px;
                height: 182px;
                border-radius:100%;
                overflow: hidden;
                background-color: #fce1e8;
                margin: 10px 10px 20px 10px;

                img{
                    width: 100%;
                }
            }

            .course-name{
                font-size: 20px;
                color: $secondary-color;
                font-family: $heading-font;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .facilitator{
                font-size: 15px;
                color: $gray;
                font-family: $content-font;
                margin-bottom: 30px;
                position: absolute;
                bottom: 0;
            }
        }
    }

    &.sec5{
        background-color: #d1d1e0;
        // height: 1280px;
        padding: 100px 0;
        color: $secondary-color;

        .section-title{
            text-align: center;
        }

        button{
            background-color: $secondary-color;
            color: $white;
            margin-top: 100px;
        }

        & > .col{
            padding: 0 70px;
        }

        .col{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .news{

            box-shadow: 0 12px 23px rgba(0, 0, 0, 0.1);
            background-color: $white;
            border-radius: 10px;
            overflow: hidden;
            height: 100%;
            margin-bottom: 25px;

            .img-container{
                height: 300px;
                overflow: hidden;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .news-details{

                padding: 40px;
                text-align: left;

                .news-title{
                    font-family: $heading-font;
                    font-weight: bold;
                    color: $secondary-color;
                }

                .author{
                    font-weight: bold;
                    color: $secondary-color;
                    font-size: 20px;
                }

                .excerpt{
                    color: $gray;
                    font-size: 15px;
                }

                .read-news-link{
                    position: absolute;
                    bottom: 0;
                    padding-bottom: 40px;
                }

                a{
                    font-family: $content-font;
                    font-weight: bold;
                    color: $primary-color;
                    
                    i{
                        vertical-align: middle;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    &.sec6{
        // height: 900px;
        padding: 100px 0;
        color: $primary-color;

        .section-title{
            text-align: center;
        }

        .testimony-slide{
            &.owl-carousel .owl-item img{
                height: 100%;
            }

            .owl-stage-outer{
                height: 100%;
            }

            .owl-dots{
                text-align: center;
                padding: 15px 0;

                .owl-dot{
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                    background-color: $light-gray;
                    margin: 0 10px;
                }

                .active{
                    background-color: $primary-color;
                }
            }
        }

        .testimony{

            background-color: $white;
            box-shadow: 0 12px 23px rgba(0, 0, 0, 0.1);
            padding: 30px;
            border-radius: 10px;

            .img-container{
                width: 75px;
                height: 75px;
                border-radius: 100%;
                overflow: hidden;
                margin-bottom: 25px;
            }

            .testimony-details{

                h6{
                    color: $secondary-color;
                    font-family: $heading-font;
                    font-weight: bold;
                    font-size: 20px;
                }

                .org{
                    color: $secondary-color;
                    font-size: 15px;
                    font-family: $content-font;
                }

                .quote{
                    color: $secondary-color;
                    font-family: $content-font;
                    font-weight: bold; 
                    font-size: 20px;
                    line-height: 1.5;
                }
            }
        }
    }

    &.cta-row{
        // height: 430px;
        padding: 100px 0;
        background-image: url(../images/hdr-1.png);
        background-size: cover;

        .col{
            text-align: center;
        }

        h1{
            color: $white;
            font-family: $content-font;
            font-weight: bold;
            margin-bottom: 50px;
        }

        button{
            background-color: $primary-color;
            color: $white;
        }
    }
}

footer{
    // height: 500px;
    padding: 100px 0;
    background-color: $secondary-color;
    border-bottom: 10px solid $primary-color;
    color: $white;



    .col{
        align-items: flex-start !important;
        justify-content: flex-start !important;

        img{
            width: 90%;
        }

        h1.list-heading{
            font-family: $content-font;
            font-size: 0.75rem;
            font-weight: 700;
            color: $primary-color;
        }

        p{
            font-family: $content-font;
            font-size: 16px;
            display: flex;

            i{
                color: $primary-color;
                margin-right: 10px;
                font-size: 20px;
                line-height: inherit;
            }
        }

        .sns{
            a{
                color: $white;
                font-size: 40px;
                margin-right: 20px;
            }
        }
    }
}

