// fonts

$heading-font: "IBM Plex Serif", serif;
$content-font: "Nunito Sans", sans-serif;

// colors

$primary-color: #B80934;
$secondary-color: #120C45;
$primary-light: #f55f87;
$gray: #707070;
$light-gray: #d4d4d4;
$white: #ffffff;